/* Media Query Mixins */
@mixin bp-xs{
  @media only screen and (max-width: 480px){
    @content;
  }
}
@mixin bp-sm{
  @media only screen and (max-width: 700px){
    @content;
  }
}
@mixin bp-md{
  @media only screen and (max-width: 800px){
    @content;
  }
}
@mixin bp-lg{
  @media only screen and (min-width: 900px){
    @content;
  }
}
@mixin bp-xl{
  @media only screen and (min-width: 1100px){
    @content;
  }
}

@mixin linearGradient($top, $bottom){
  background: #ffa84c; /* Old browsers */
  background: -moz-linear-gradient(140deg,  $top 0%, $bottom 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(140deg,  $top 0%,$bottom 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(140deg,  $top 0%,$bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

@mixin sharpLinearGradient($top, $bottom){
  background: -moz-linear-gradient(-45deg, $top 0%, $top 51%, $bottom 51%, $bottom 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $top), color-stop(51%, $top), color-stop(51%, $bottom), color-stop(100%, $bottom));
  background: -webkit-linear-gradient(-45deg, $top 0%, $top 51%, $bottom 51%, $bottom 100%);
  background: -o-linear-gradient(-45deg, $top 0%, $top 51%, $bottom 51%); 
}
