// Colour variables
$primaryColor: #03A9F4;
$darkPrimaryColor: #0288D1;
$lightPrimaryColor: #4FC3F7;
$accentColor: #7C4DFF;
$lightshade: #F3F7F0;

$textIcons: #FFFFFF;
$primaryText: #212121;
$secondaryText: #757575;

$tagColor: #d2d2d2;


// import mixins
@import 'mixins';


html,body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}
.row {}
.row:before, .row:after{
    content: " ";
    display: table;
}
.row:after {
  clear: both;
}


.headerbox{
  background-color: $lightPrimaryColor;
  margin-top: -10px;
  height: 80px;
  border-bottom: 5px solid $darkPrimaryColor;
  .logo{
    width: 40px;
    margin-top: 20px;
    height: 40px;
    top: -4px;
    margin-left: 10px;
    position: absolute;
  }


  h1 {
    font-family: 'Lato', sans-serif;
    color: $textIcons;
    text-align: center;
    font-size: 2.8em;
    padding-top: 15px;
    margin-top: 5px;
    letter-spacing: .1rem;
    padding-right: 40px;
  };
  .headershapes{
    width: 10px;
    height: 100px;
    background-color: $darkPrimaryColor;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left:10px;

  }
  .headershapes2{
    height: 120px;
    left: 25px;
    top: -20px;

  }


};




.btn, .active{
  background-color: #fff;
  color: $darkPrimaryColor;
  border-radius: 0px;
  width: 32.5%;
  margin-left: -2px;
  border: none;
  padding: 1px;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 800;
  height: 2.4rem;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: inherit;
  margin:0 auto;
  display: block;
  float: right;
  border-bottom: 1px solid $darkPrimaryColor;
  border-left: 1px solid $darkPrimaryColor;
  border-right: 1px solid $darkPrimaryColor;
  @include bp-sm{
    width: 130px;
    font-size: 0.6rem;
  }
  @include bp-xs{
    width: 100px;
  }
}
.btn:hover{
  background-color: #fff;
  color: darken($primaryColor,30%);
};

.btn:active, .btn:focus, .activebtn{
  background-color: $darkPrimaryColor;
  color: $textIcons;
  outline: none;
}


.buttonrow{
  margin: 0 auto;
  width: 155px + 155px + 170px;
  @include bp-sm{
    width: 134px + 134px + 134px;
  };
  @include bp-xs{
    width: 104px + 104px + 104px;
  };
}
#typebutton{
  margin-left: -20px;
}

.clearFloat{
  clear: both;
}

.pagebreak{
  background-color: $darkPrimaryColor;
  height: 10px;
  width: 100%;
  margin-top: 20vh;

}

.pagebreakrow{
  margin-top: -52px;

  button{
    @extend .btn;
    border: 1px solid $darkPrimaryColor;
  }
}


.dropdown{

  margin-top: 10px;
  list-style: none;
  display: none;
  position: absolute;

  button, button:focus{
    @extend .btn;
    width: 156px;
    position: relative;
    margin-top: -10px;
    margin-bottom: -3px;
    background-color: lighten($primaryColor,50%);
    color: $darkPrimaryColor;
    border: 1px solid lighten($darkPrimaryColor, 10%);
    @include bp-sm{
      width: 130px;
    }
    @include bp-xs{
      width: 100px;
    }
  }
  button:hover{
    border: 1px solid darken($darkPrimaryColor,10%);
  }

  li{
    display: block;
    float: left;
  }
}

ul {
    list-style:none;
    padding-left:0;
}​
#typedropdown{
  position: absolute;
}









.cardrow{ // CARD ROW START
  margin-top: 15vh;
  overflow-x: auto;
  white-space: nowrap;

  .cardwrapper{ // CARD WRAPPER START
    display: inline-block;
    width: 20%;
    @include bp-sm{
      width: 45%;
    }
    @include bp-md{
      width: 30%;
    }

    .card{
      position: relative;
      height: 280px;
      width: 90%;
      margin-left: 5%;
      background-color: $lightshade;
      border: 1px solid darken($lightshade, 20%);
      overflow: hiddden;

      .primarycolor{
        position: absolute;
        height: 90px;
        margin-left: 5%;
        width:90%;
        left: 0;
        top: 0;
        border-top: 1px solid rgba(171, 171, 171, 0.2);
        background-color: rgb(8, 140, 37);
      }
      .darkprimarycolor{
        @extend .primarycolor;
        top: 90px;
        height: 65px;
        background-color: #83ba7c;
      }
      .lightprimarycolor{
        @extend .primarycolor;
        top: 90px + 65px;
        height: 45px;
        background-color: #c7e8bf;
      }
      .accentcolor{
        @extend .primarycolor;
        top: 100px + 65px + 35px;
        height: 30px;
        background-color: #97e9ec;
      }
      .topwrapper{
        bottom: 20px;
        position: relative;
        margin-top: 265px;
      }
    }

  } // CARD WRAPPER END

  span.left-scroll, span.right-scroll{
    cursor: default;
    color: white;
    font-size: 4.5em;
    position: absolute;
    z-index: 100;
    margin-top: 110px;
    text-shadow: -1px 0 $darkPrimaryColor,0 1px $darkPrimaryColor,1px 0 $darkPrimaryColor,0 -1px $darkPrimaryColor;
  }
  span.left-scroll:hover, span.right-scroll:hover{
    color: $primaryColor;
    text-shadow: -1px 0 $darkPrimaryColor,0 1px $darkPrimaryColor,1px 0 $darkPrimaryColor,0 -1px $darkPrimaryColor;
  }
  span.right-scroll{
    right: 0;
  }
  .upvote{
    float: right;
    color: $secondaryText;
    margin-right: 15px;
    font-size: 1.3em;
    cursor: pointer;
    @include bp-sm{
      display: none;
    };
  }
  .upvote:hover{
    color: $accentColor;
    transition: 0.5s all;
  }
  .tag{
    text-transform: uppercase;
    background-color: $tagColor;
    color: $secondaryText;
    border-radius: 100px;
    min-width: 60px;
    font-size: 0.7em;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    float: left;
    cursor: pointer;
  }
  .tag:hover{
    background-color: darken($tagColor,5%);
    color: lighten($secondaryText, 50%);
    border: 1px solid $accentColor;
    padding: 4px;
  }
} // CARD ROW END
// 19B5FE
$previewPrim: rgb(180, 54, 54);
$previewDprim: darken($previewPrim,10%);
$previewLprim: lighten($previewPrim,5%);
$previewAccent: #fff;



.preview{
  font-family: 'Lato', sans-serif;
  @extend .headerbox;
  background-color: $previewPrim;
  border-color: $previewDprim;
  height: 80px;
  margin-top: 0px;

  h1{
    color: $previewAccent;
    padding: 0;
    float: left;
    margin-left: 40px;
    margin-top: 14px;
    font-size: 2.2em;
    cursor: pointer;
  }
  a{
    cursor: pointer;
  }

  .previewnav{
    position: relative;
    // right:50px;
    // bottom: -5px;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    .icon-menu{
      cursor: pointer;
      color: white;
      top: -10px;
      right: 10px;
      position: absolute;
      font-size: 2em;
      display: none;
      @include bp-sm{
        display: inline;
      };
    }
    .previewnav-active{
      color: darken($previewDprim, 10%);
      }
    a{
      @include bp-sm{
        display: none;
      };
    }


  }
  h3{
    margin-left: 30px;
    display: inline;
    color: $previewAccent;
  }

  .previewheader{
    background-image: url("../img/sampleheaderimg");
    background-position: bottom;
    height: 300px;
    margin-top: -2px;
    opacity: 0.7;
    width: 100vw;

    .row{
      color: black;
      text-align: center;

      h1{
      color: $previewLprim;
      text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
      width: 100%;
      margin-left: 0;
      margin-top: 75px;
      text-transform: uppercase;
      font-size: 2.5em;
      margin-bottom: 10px;
      }
      h2{
      }
      hr{
        width: 40%;
      }
      button{
        @extend .btn;
        display: inline;
        float: none;
        font-size: 0.7em;
        border-radius: 20px;
        width: 120px;
        background-color: #fff;
        border: none;
        height: 25px;
        span{
          color: $previewLprim;
        }
      }
      button:hover{
        background-color: #ebe7e7;

      }
    }
  }
  .previewbody{
    h4{
      font-size: 2em;
      margin-bottom: -10px;
      margin-left: 0px;

    }
    span.highlight{
      color: $previewPrim;
    }
    hr{
      margin-bottom: -10px;
      width: 80%;
    }
    .col-8{
      width: 66.66666667%;
      position: relative;
      min-height: 1px;
      float: left;
      @include bp-xs{
        width: 100%;
      };
      h4{
        margin-left: 30px;
      }
      p{
        padding: 20px;
      }
      .btnwrapper{
        text-align: center;
      }
      button{
        @extend .btn;
        float: none;
        display: inline;
        font-size: 0.7em;
        border-radius: 20px;
        width: 150px;
        background-color: #fff;
        height: 30px;
        border: 1px solid $previewPrim;
        color: $previewDprim;
      }
      button:hover, button:focus{
        color: #fff;
        background-color: $previewPrim;
      }
    }
    .col-4{
      width: 33.33333333%;
      position: relative;
      min-height: 1px;
      float:left;
      text-align: center;
      @include bp-xs{
        width: 100%;
      };
      p{
        padding: 1px;

      }
      strong.highlight{
        margin-top: -10px;
        color: $previewDprim;
      }
      li span{
        color: $previewDprim;
      }
    }
  }
  .previewcontent{
    margin-top: 100px;
    .col-quarter{
      width: 24%;
      text-align: center;
      display: inline-block;

      p{
        padding: 10px;
        @include bp-sm{
          display: none;
        };
      }
      h2{
        color: rgba(#000000, 0.72);
        @include bp-sm{
          font-size: 1em;
        };
      }
      span{
        font-size: 5em;
        color: $previewDprim;
        @include bp-sm{
          font-size: 3em;
        }
      }
    }
  }
  .col-quarter :first-of-type{
    margin-left: 40px;
  }
  .col-quarter :last-of-type{
    margin-right: 40px;
  }
  .previewfooter{
    p{
      float: right;
      margin-right: 20px;
      opacity: 0.4;
      @include bp-sm{
        opacity: 0;
      };
    }
  }
}

.testcard{

  .primarycolor{
    @include linearGradient(#FF9800,#F44336);
  }
  .darkprimarycolor{
    @include sharpLinearGradient2(#673AB7,#3F51B5);
  }
  .lightprimarycolor{
    @include sharpLinearGradient2(#2196F3,#00BCD4);
  }
  .accentcolor{
    @include sharpLinearGradient2(#009688,#8BC34A);
  }

  .cardtitle{
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
    width: 100%;
    color: rgba(0,0,0,0.6);
    @include bp-sm{
      font-size: 0.6em;
    };
    @include bp-xs{
      font-size: 0.5em;
    };
  }
  #testtopwrapper{
    margin-top: 278px;
    bottom:28px;
  }
  #testcard.primarycolor{
    background-color: #fff;
  }
  #testcard.lightprimarycolor{
    background-color: #fff;
  }
  #testcard.darkprimarycolor{
    background-color: #fff;
  }
  #testcard.accentcolor{
    background-color: #fff;
  }
}

.modal{
  display: none; /* Hidden by default */
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  .modalcontent{
    background-color: $textIcons;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid $primaryColor;
    width: 60%; /* Could be more or less, depending on screen size */
    padding-bottom: 8vh;
    position: relative;
    h2{
      color: darken($darkPrimaryColor, 10%);
      text-align: center;
      margin-top: -10px;
    }
    form{
      border-radius: 5px;
      background-color: #FFFFFF;
    }
    input{
      border-radius: 10px;
      border: 1px solid $primaryColor;
      width: 100%;
      height: 40px;
      padding-left: 50px;
      font-size: 1em;
      margin-left: -25px;
    }
    .googlefonts{
      float: left;
      position: absolute;
      margin-top: 9px;
      width: 25px;
      padding-left: 5px;
      margin-left: -15px;


    }
    .fontsuggest{
      opacity: 0;
      color: $darkPrimaryColor;
      width: 100%;
      text-align: center;
    }
    button{
      background-color: $accentColor;
      color: #fff;
      display: block;
      margin: 0 auto;
      min-width: 110px;
      height: 40px;
      border-radius: 40px;
      border:none;
      font-size: 0.6em;
      margin-top: 10px;
      display: none;
      opacity: 0;
      span{
        font-size: 1.55em;
      }
    }

    .modaltitle{
      margin-left: -20px;
      padding-right: 40px;
      width: 100%;
      height: 50px;
      background-color: $darkPrimaryColor;
      @include linearGradient($accentColor, $primaryColor);
      margin-top: 50px;
      h2{
        color: $textIcons;
        text-align: center;
        padding-top:10px;
        margin-left: 40px;
      }
    }
  }
}
.formwrap{
  width: 40%;
  display: block;
  margin: 0 auto;
}


.presetrow{
  display: -moz-box;
  display: -webkit-box;
  display: box;

  .presetwrapper{
    width: 30%;
    height: 200px;

    border: 3px solid $darkPrimaryColor;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    margin-left: 10px;
    margin-top: 50px;

  }
  .presetwrapper:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.2);
  }
  :first-child{
    margin-left: 0px;
  }

    .presetlogo{
      width: 100%;
      height: 80%;
      background-color: black;
      @include sharpLinearGradient(white, lighten($lightPrimaryColor,20%));
      text-align: center;
      position: relative;

      span{
        font-size: 4em;
        color: darken($accentColor, 10%);
        position: absolute;
        margin-left: -30px;
        margin-top: 50px;


      }
    }


    .presettext{
      text-align: center;
      margin: 0;
      display: absolute;
      border-top: 2px solid $darkPrimaryColor;
      @include linearGradient($accentColor, $lightPrimaryColor);
      height: 14%;
      color: white;
      font-weight: 500;
      padding-top: 3.5%;
    }

  }


.modalcontent-colscheme{
  background-color: $textIcons;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0;
  border: 2px solid $primaryColor;
  border-top: none;
  border-left-color: $accentColor;
  width: 60%; /* Could be more or less, depending on screen size */
  padding-bottom: 8vh;
  position: relative;
  h2{
    color: darken($darkPrimaryColor, 10%);
    text-align: center;
    margin-top: -5px;
  }
  .modaltitle{
    margin-left: -20px;
    padding-right: 40px;
    width: 100%;
    height: 60px;
    background-color: $darkPrimaryColor;
    @include linearGradient($accentColor, $primaryColor);
    h2{
      color: $textIcons;
      text-align: center;
      padding-top:20px;
      margin-left: 40px;
    }
  }
  .colschemebox-wrap{
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

  }
  .colschemebox-lg{
    width: 140px;
    height: 80px;
    background-color: $primaryColor;
    display: inline-block;
    h4{
      text-align: center;
      color: white;
      margin-top: 30px;
    }
  }
  .colschemebox-sm{
    @extend .colschemebox-lg;
    width: 100px;
  }
  .colschemebox-dark{
    background-color: $darkPrimaryColor;
  }
  .colschemebox-light{
    background-color: $lightPrimaryColor;
  }
  .colschemebox-accent{
    background-color: $accentColor;
  }
  .colschemeselect{
    text-align: center;
    h3{
      color: darken($darkPrimaryColor,15%);
    }
    button{
      background-color: #fff;
      color: darken($darkPrimaryColor,10%);
      width: 100px;
      height: 30px;
      border: 1px solid $darkPrimaryColor;
      border-radius: 20px;
      display: inline-block;
      padding: 1px;
      cursor: pointer;
      font-size: 0.65rem;
      font-weight: 800;
      letter-spacing: .1rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      box-sizing: inherit;
    }
    button:hover{
      color: $primaryColor;
      border-color: $primaryColor;
    }

  }

  .colrow{
    height: 100px;
    .colbox{
      width: 20%;
      height: 100%;
      float: left;
      background-color: black;

      position: relative;
      @include bp-lg{
        width: 20%;
        border: 0;
      };
      @include bp-md{
        width: 20%;
        border: 0;
      };
      p{
        color: rgba(0,0,0,0.5);
        margin-top: 5px;
        margin-left: 5px;
      }
      .colhex{
        position: absolute;
        left: 0px;
        top: 20px;
        font-size: 0.8em;
      }
    }
    .colbox:hover{
      box-shadow: 0 0 0 2px rgba(0,0,0,0.6) inset;
      p{
        color:rgba(0,0,0,0.8)
      }

    }
    .colbox-red{
      background-color: #F44336;
    }
    .colbox-pink{
      background-color: #E91E63;
    }
    .colbox-purple{
      background-color: #9C27B0;
    }
    .colbox-deeppurple{
      background-color: #673AB7;
    }
    .colbox-indigo{
      background-color: #3F51B5;
    }
    .colbox-blue{
      background-color: #2196F3;
    }
    .colbox-lightblue{
      background-color: #03A9F4;
    }
    .colbox-cyan{
      background-color: #00BCD4;
    }
    .colbox-teal{
      background-color: #009688;
    }
    .colbox-lightgreen{
      background-color: #8BC34A;
    }
    .colbox-lime{
      background-color: #CDDC39;
    }
    .colbox-yellow{
      background-color: #FFEB3B;
    }
    .colbox-amber{
      background-color: #FFC107;
    }
    .colbox-orange{
      background-color: #FF9800;
    }
    .colbox-deeporange{
      background-color: #FF5722;
    }
  }

}

#colscheme-selected{
  p{
    color: white;
  }
}
#colscheme-selected2{
  @extend #colscheme-selected;
}
.colscheme-configurelogo{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 35px;
  span{
    display: none;
    font-size: 2em;
    color: $primaryColor;
  }

}
/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-rotate
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-rotate {
  display: inline-block;
  transform-origin: center center;
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 10;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-rotate:hover,
.shake-trigger:hover .shake-rotate {
  animation-play-state: running; }

@keyframes shake-rotate {
  2% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  4% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  6% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  8% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  10% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  12% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  14% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  16% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  18% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  20% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  22% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  24% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  26% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  28% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  30% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  32% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  34% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  36% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  38% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  40% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  42% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  44% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  46% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  48% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  50% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg); }
  52% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  54% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  56% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  58% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  62% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  64% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  68% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  72% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  74% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  76% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  78% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  82% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  84% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  86% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  88% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  90% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  92% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  94% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  96% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  98% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
