// Colour variables
$primaryColor: #9a4053;
$secondaryColor: #F2545B;
$lightshade: #F3F7F0;

// import mixins
@import 'mixins';


html,body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



.headerbox{
  background-color: $primaryColor;
  margin-top: -10px;
  height: 80px;
  border-bottom: 5px solid $secondaryColor;


  h1 {
    color: #fff;
    text-align: center;
    font-size: 2.8em;
    padding-top: 11px;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: -.1rem;
  };

};




.btn, .active{
  background-color: #fff;
  color: $secondaryColor;
  border-radius: 0px;
  width: 32.5%;
  margin-left: -2px;
  border: none;
  padding: 1px;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 800;
  height: 2.4rem;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: inherit;
  margin:0 auto;
  display: block;
  float: right;

  border-bottom: 1px solid $secondaryColor;
  border-left: 1px solid $secondaryColor;
  border-right: 1px solid $secondaryColor;
  @include bp-sm{
    width: 130px;
  }
  @include bp-xs{
    width: 100px;
  }
}




.btn:hover{
  background-color: #fff;
  color: darken($secondaryColor,30%);
};


.btn:active, .btn:focus, .activebtn{
  background-color: $secondaryColor;
  color: #fff;
  outline: none;
}


.buttonrow{
  margin: 0 auto;
  width: 155px + 155px + 170px;
}
#typebutton{
  margin-left: -20px;
}

.clearFloat{
  clear: both;
}

.pagebreak{
  background-color: $secondaryColor;
  height: 10px;
  width: 100%;
  margin-top: 20vh;
}

.pagebreakrow{
  margin-top: -52px;

  button{
    @extend .btn;
    border: 1px solid $secondaryColor;
  }
}


.dropdown{

  margin-top: 10px;
  list-style: none;
  display: none;
  position: absolute;

  button, button:focus{
    @extend .btn;
    width: 156px;
    position: relative;
    margin-top: -10px;
    margin-bottom: -3px;
    background-color: lighten($primaryColor,50%);
    color: $secondaryColor;
    border: 1px solid lighten($secondaryColor, 10%);
  }
  button:hover{
    border: 1px solid darken($secondaryColor,10%);
  }

  li{
    display: block;
    float: left;
  }
}
ul {
    list-style:none;
    padding-left:0;
}​
#typedropdown{
  position: absolute;
}

.show {
  display: inline-block;
}
.hide {
  display: none;
}


.cardwrapper{
  display: inline-block;
  width: 20%;
  @include bp-sm{
    width: 45%;
  }
  @include bp-md{
    width: 30%;
  }
}

.card{
  position: relative;
  height: 280px;
  width: 90%;
  margin-left: 5%;
  background-color: $lightshade;
  border: 1px solid darken($lightshade, 20%);
  overflow: auto;
}


.primarycolor{
  position: absolute;
  height: 80px;
  margin-left: 5%;
  width:90%;
  left: 0;
  top: 60px;
  background-color: rgb(8, 140, 37);

}
.secondarycolor{
  @extend .primarycolor;
  top: 140px;
  height: 55px;
  background-color: #83ba7c;
}
.shadecolor{
  @extend .primarycolor;
  top:195px;
  height: 35px;
  background-color: #c7e8bf;
}
.shadecolor2{
  @extend .primarycolor;
  top:230px;
  height: 30px;
  background-color: #97e9ec;
}

.cardrow{
  margin-top: 15vh;

  overflow-x: auto;
  white-space: nowrap;
}

.cardicon{
  display: none;
  margin-top: 20%;
  margin-right: 10px;
  float: right;
}
