@charset "UTF-8";
/* Media Query Mixins */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.headerbox, .preview {
  background-color: #4fc3f7;
  margin-top: -10px;
  height: 80px;
  border-bottom: 5px solid #0288d1; }
  .headerbox .logo, .preview .logo {
    width: 40px;
    margin-top: 20px;
    height: 40px;
    top: -4px;
    margin-left: 10px;
    position: absolute; }
  .headerbox h1, .preview h1 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.8em;
    padding-top: 15px;
    margin-top: 5px;
    letter-spacing: .1rem;
    padding-right: 40px; }
  .headerbox .headershapes, .preview .headershapes {
    width: 10px;
    height: 100px;
    background-color: #0288d1;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: 10px; }
  .headerbox .headershapes2, .preview .headershapes2 {
    height: 120px;
    left: 25px;
    top: -20px; }

.btn, .pagebreakrow button, .dropdown button, .dropdown button:focus, .preview .previewheader .row button, .preview .previewbody .col-8 button, .active {
  background-color: #fff;
  color: #0288d1;
  border-radius: 0px;
  width: 32.5%;
  margin-left: -2px;
  border: none;
  padding: 1px;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 800;
  height: 2.4rem;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: inherit;
  margin: 0 auto;
  display: block;
  float: right;
  border-bottom: 1px solid #0288d1;
  border-left: 1px solid #0288d1;
  border-right: 1px solid #0288d1; }
  @media only screen and (max-width: 700px) {
    .btn, .pagebreakrow button, .dropdown button, .dropdown button:focus, .preview .previewheader .row button, .preview .previewbody .col-8 button, .active {
      width: 130px;
      font-size: 0.6rem; } }
  @media only screen and (max-width: 480px) {
    .btn, .pagebreakrow button, .dropdown button, .dropdown button:focus, .preview .previewheader .row button, .preview .previewbody .col-8 button, .active {
      width: 100px; } }

.btn:hover, .pagebreakrow button:hover, .dropdown button:hover, .preview .previewheader .row button:hover, .preview .previewbody .col-8 button:hover {
  background-color: #fff;
  color: #01405d; }

.btn:active, .pagebreakrow button:active, .dropdown button:active, .preview .previewheader .row button:active, .preview .previewbody .col-8 button:active, .btn:focus, .pagebreakrow button:focus, .dropdown button:focus, .preview .previewheader .row button:focus, .preview .previewbody .col-8 button:focus, .activebtn {
  background-color: #0288d1;
  color: white;
  outline: none; }

.buttonrow {
  margin: 0 auto;
  width: 480px; }
  @media only screen and (max-width: 700px) {
    .buttonrow {
      width: 402px; } }
  @media only screen and (max-width: 480px) {
    .buttonrow {
      width: 312px; } }

#typebutton {
  margin-left: -20px; }

.clearFloat {
  clear: both; }

.pagebreak {
  background-color: #0288d1;
  height: 10px;
  width: 100%;
  margin-top: 20vh; }

.pagebreakrow {
  margin-top: -52px; }
  .pagebreakrow button {
    border: 1px solid #0288d1; }

.dropdown {
  margin-top: 10px;
  list-style: none;
  display: none;
  position: absolute; }
  .dropdown button, .dropdown button:focus {
    width: 156px;
    position: relative;
    margin-top: -10px;
    margin-bottom: -3px;
    background-color: #f7fcff;
    color: #0288d1;
    border: 1px solid #09a7fd; }
    @media only screen and (max-width: 700px) {
      .dropdown button, .dropdown button:focus {
        width: 130px; } }
    @media only screen and (max-width: 480px) {
      .dropdown button, .dropdown button:focus {
        width: 100px; } }
  .dropdown button:hover {
    border: 1px solid #02679e; }
  .dropdown li {
    display: block;
    float: left; }

ul {
  list-style: none;
  padding-left: 0; }

​
#typedropdown {
  position: absolute; }

.cardrow {
  margin-top: 15vh;
  overflow-x: auto;
  white-space: nowrap; }
  .cardrow .cardwrapper {
    display: inline-block;
    width: 20%;
    cursor: pointer; }
    @media only screen and (max-width: 700px) {
      .cardrow .cardwrapper {
        width: 45%; } }
    @media only screen and (max-width: 800px) {
      .cardrow .cardwrapper {
        width: 30%; } }
    .cardrow .cardwrapper .card:hover {
      box-shadow: 10px 1px 40px rgba(0, 0, 0, 0.18), 0 1px 5px rgba(0, 0, 0, 0.2); }
    .cardrow .cardwrapper .card {
      position: relative;
      height: 280px;
      width: 90%;
      margin-left: 5%;
      background-color: #f3f7f0;
      border: 1px solid #bed4ad;
      overflow: hiddden; }
      .cardrow .cardwrapper .card .primarycolor, .cardrow .cardwrapper .card .darkprimarycolor, .cardrow .cardwrapper .card .lightprimarycolor, .cardrow .cardwrapper .card .accentcolor {
        position: absolute;
        height: 90px;
        margin-left: 5%;
        width: 90%;
        left: 0;
        top: 0;
        border-top: 1px solid rgba(171, 171, 171, 0.2);
        background-color: #fff; }
      .cardrow .cardwrapper .card .darkprimarycolor {
        top: 90px;
        height: 65px;
        background-color: #fff; }
      .cardrow .cardwrapper .card .lightprimarycolor {
        top: 155px;
        height: 45px;
        background-color: #fff; }
      .cardrow .cardwrapper .card .accentcolor {
        top: 200px;
        height: 30px;
        background-color: #fff; }
      .cardrow .cardwrapper .card .topwrapper {
        bottom: 20px;
        position: relative;
        margin-top: 265px; }
  .cardrow span.left-scroll, .cardrow span.right-scroll {
    cursor: default;
    color: white;
    font-size: 4.5em;
    position: absolute;
    z-index: 100;
    margin-top: 110px;
    text-shadow: -1px 0 #0288d1, 0 1px #0288d1, 1px 0 #0288d1, 0 -1px #0288d1; }
  .cardrow span.left-scroll:hover, .cardrow span.right-scroll:hover {
    color: #03a9f4;
    text-shadow: -1px 0 #0288d1, 0 1px #0288d1, 1px 0 #0288d1, 0 -1px #0288d1; }
  .cardrow span.right-scroll {
    right: 0; }
  .cardrow .upvote {
    float: right;
    color: #757575;
    margin-right: 15px;
    font-size: 1.3em;
    cursor: pointer; }
    @media only screen and (max-width: 700px) {
      .cardrow .upvote {
        display: none; } }
  .cardrow .upvote:hover {
    color: #7c4dff;
    transition: 0.5s all; }
  .cardrow .tag {
    text-transform: uppercase;
    background-color: #d2d2d2;
    color: #757575;
    border-radius: 100px;
    min-width: 60px;
    font-size: 0.7em;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    float: left; }

.preview {
  font-family: 'Lato', sans-serif;
  background-color: #03a9f4;
  border-color: #0288d1;
  height: 80px;
  margin-top: 0px;
  display: relative; }
  .preview h1 {
    color: white;
    padding: 0;
    float: left;
    margin-left: 40px;
    margin-top: 14px;
    font-size: 2.2em;
    cursor: pointer; }
  .preview a {
    cursor: pointer; }
  .preview .previewnav {
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 50px; }
    .preview .previewnav .icon-menu {
      cursor: pointer;
      color: white;
      top: -10px;
      right: 10px;
      position: absolute;
      font-size: 2em;
      display: none; }
      @media only screen and (max-width: 700px) {
        .preview .previewnav .icon-menu {
          display: inline; } }
    .preview .previewnav .previewnav-active {
      color: #02679e; }
    @media only screen and (max-width: 700px) {
      .preview .previewnav a {
        display: none; } }
  .preview h3 {
    margin-left: 30px;
    display: inline;
    color: white; }
  .preview .previewheader {
    background-image: url("../img/sampleheaderimg");
    background-position: bottom;
    height: 300px;
    margin-top: -2px;
    opacity: 0.7;
    width: 100vw; }
    .preview .previewheader .row {
      color: black;
      text-align: center; }
      .preview .previewheader .row h1 {
        color: #4fc3f7;
        text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
        width: 100%;
        margin-left: 0;
        margin-top: 75px;
        text-transform: uppercase;
        font-size: 2.5em;
        margin-bottom: 10px; }
      .preview .previewheader .row hr {
        width: 40%; }
      .preview .previewheader .row button {
        display: inline;
        float: none;
        font-size: 0.7em;
        border-radius: 20px;
        width: 120px;
        background-color: #fff;
        border: none;
        height: 25px; }
        .preview .previewheader .row button span {
          color: #4fc3f7; }
      .preview .previewheader .row button:hover {
        background-color: #ebe7e7; }
  .preview .previewbody h4 {
    font-size: 2em;
    margin-bottom: -10px;
    margin-left: 0px; }
  .preview .previewbody span.highlight {
    color: #03a9f4; }
  .preview .previewbody hr {
    margin-bottom: -10px;
    width: 80%; }
  .preview .previewbody .col-8 {
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    float: left; }
    @media only screen and (max-width: 480px) {
      .preview .previewbody .col-8 {
        width: 100%; } }
    .preview .previewbody .col-8 h4 {
      margin-left: 30px; }
    .preview .previewbody .col-8 p {
      padding: 20px; }
    .preview .previewbody .col-8 .btnwrapper {
      text-align: center; }
    .preview .previewbody .col-8 button {
      float: none;
      display: inline;
      font-size: 0.7em;
      border-radius: 20px;
      width: 150px;
      background-color: #fff;
      height: 30px;
      border: 1px solid #03a9f4;
      color: #0288d1; }
    .preview .previewbody .col-8 button:hover, .preview .previewbody .col-8 button:focus {
      color: #fff;
      background-color: #03a9f4; }
  .preview .previewbody .col-4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    float: left;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .preview .previewbody .col-4 {
        width: 100%; } }
    .preview .previewbody .col-4 p {
      padding: 1px; }
    .preview .previewbody .col-4 strong.highlight {
      margin-top: -10px;
      color: #0288d1; }
    .preview .previewbody .col-4 li span {
      color: #0288d1; }
  .preview .previewcontent {
    margin-top: 100px; }
    .preview .previewcontent .col-quarter {
      width: 24%;
      text-align: center;
      display: inline-block; }
      .preview .previewcontent .col-quarter p {
        padding: 10px; }
        @media only screen and (max-width: 700px) {
          .preview .previewcontent .col-quarter p {
            display: none; } }
      .preview .previewcontent .col-quarter h2 {
        color: rgba(0, 0, 0, 0.72); }
        @media only screen and (max-width: 700px) {
          .preview .previewcontent .col-quarter h2 {
            font-size: 1em; } }
      .preview .previewcontent .col-quarter span {
        font-size: 5em;
        color: #0288d1; }
        @media only screen and (max-width: 700px) {
          .preview .previewcontent .col-quarter span {
            font-size: 3em; } }
  .preview .col-quarter :first-of-type {
    margin-left: 40px; }
  .preview .col-quarter :last-of-type {
    margin-right: 40px; }
  .preview .previewfooter p {
    float: right;
    margin-right: 20px;
    opacity: 0.4; }
    @media only screen and (max-width: 700px) {
      .preview .previewfooter p {
        opacity: 0; } }

.testcard:hover {
  background: #ffa84c;
  /* Old browsers */
  background: -moz-linear-gradient(140deg, #3cb9fd 0%, #ede6ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(140deg, #3cb9fd 0%, #ede6ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(140deg, #3cb9fd 0%, #ede6ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */ }

.testcard .cardtitle {
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.6); }
  @media only screen and (max-width: 700px) {
    .testcard .cardtitle {
      font-size: 0.6em; } }
  @media only screen and (max-width: 480px) {
    .testcard .cardtitle {
      font-size: 0.5em; } }
.testcard #testtopwrapper {
  margin-top: 278px;
  bottom: 28px; }
.testcard #testcard.primarycolor, .testcard .cardrow .cardwrapper .card #testcard.darkprimarycolor, .cardrow .cardwrapper .card .testcard #testcard.darkprimarycolor, .testcard .cardrow .cardwrapper .card #testcard.lightprimarycolor, .cardrow .cardwrapper .card .testcard #testcard.lightprimarycolor, .testcard .cardrow .cardwrapper .card #testcard.accentcolor, .cardrow .cardwrapper .card .testcard #testcard.accentcolor {
  background-color: #fff; }
.testcard #testcard.lightprimarycolor {
  background-color: #fff; }
.testcard #testcard.darkprimarycolor {
  background-color: #fff; }
.testcard #testcard.accentcolor {
  background-color: #fff; }

.modal {
  display: none;
  /* Hidden by default */
  opacity: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */ }
  .modal .modalcontent {
    background-color: white;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #03a9f4;
    width: 60%;
    /* Could be more or less, depending on screen size */
    padding-bottom: 8vh;
    position: relative; }
    .modal .modalcontent h2 {
      color: #02679e;
      text-align: center;
      margin-top: -10px; }
    .modal .modalcontent form {
      border-radius: 5px;
      background-color: #FFFFFF; }
    .modal .modalcontent input {
      border-radius: 10px;
      border: 1px solid #03a9f4;
      width: 100%;
      height: 40px;
      padding-left: 50px;
      font-size: 1em;
      margin-left: -25px; }
    .modal .modalcontent .googlefonts {
      float: left;
      position: absolute;
      margin-top: 9px;
      width: 25px;
      padding-left: 5px;
      margin-left: -15px; }
    .modal .modalcontent .fontsuggest {
      opacity: 0;
      color: #0288d1;
      width: 100%;
      text-align: center; }
    .modal .modalcontent button {
      background-color: #7c4dff;
      color: #fff;
      display: block;
      margin: 0 auto;
      min-width: 110px;
      height: 40px;
      border-radius: 40px;
      border: none;
      font-size: 0.6em;
      margin-top: 10px;
      display: none;
      opacity: 0; }
      .modal .modalcontent button span {
        font-size: 1.55em; }
    .modal .modalcontent .modaltitle {
      margin-left: -20px;
      padding-right: 40px;
      width: 100%;
      height: 50px;
      background-color: #0288d1;
      background: #ffa84c;
      /* Old browsers */
      background: -moz-linear-gradient(140deg, #7c4dff 0%, #03a9f4 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(140deg, #7c4dff 0%, #03a9f4 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(140deg, #7c4dff 0%, #03a9f4 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
      /* IE6-9 */
      margin-top: 50px; }
      .modal .modalcontent .modaltitle h2 {
        color: white;
        text-align: center;
        padding-top: 10px;
        margin-left: 40px; }

.formwrap {
  width: 40%;
  display: block;
  margin: 0 auto; }

.presetrow {
  display: -moz-box;
  display: -webkit-box;
  display: box; }
  .presetrow .presetwrapper {
    cursor: pointer;
    width: 30%;
    height: 200px;
    border: 3px solid #0288d1;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    margin-left: 10px;
    margin-top: 50px; }
  .presetrow .presetwrapper:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.2); }
  .presetrow :first-child {
    margin-left: 0px; }
  .presetrow .presetlogo {
    width: 100%;
    height: 80%;
    background-color: black;
    background: -moz-linear-gradient(-45deg, white 0%, white 51%, #b1e4fb 51%, #b1e4fb 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, white), color-stop(51%, white), color-stop(51%, #b1e4fb), color-stop(100%, #b1e4fb));
    background: -webkit-linear-gradient(-45deg, white 0%, white 51%, #b1e4fb 51%, #b1e4fb 100%);
    background: -o-linear-gradient(-45deg, white 0%, white 51%, #b1e4fb 51%);
    text-align: center;
    position: relative; }
    .presetrow .presetlogo span {
      font-size: 4em;
      color: #561aff;
      position: absolute;
      margin-left: -30px;
      margin-top: 50px; }
  .presetrow .presettext {
    text-align: center;
    margin: 0;
    display: absolute;
    border-top: 2px solid #0288d1;
    background: #ffa84c;
    /* Old browsers */
    background: -moz-linear-gradient(140deg, #7c4dff 0%, #4fc3f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(140deg, #7c4dff 0%, #4fc3f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(140deg, #7c4dff 0%, #4fc3f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
    /* IE6-9 */
    height: 14%;
    color: white;
    font-weight: 500;
    padding-top: 3.5%; }

.modalcontent-colscheme {
  background-color: white;
  margin: 3% auto;
  /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0;
  border: 2px solid #03a9f4;
  border-top: none;
  border-left-color: #7c4dff;
  width: 60%;
  /* Could be more or less, depending on screen size */
  padding-bottom: 8vh;
  position: relative; }
  .modalcontent-colscheme h2 {
    color: #02679e;
    text-align: center;
    margin-top: -5px; }
  .modalcontent-colscheme .modaltitle {
    margin-left: -20px;
    padding-right: 40px;
    width: 100%;
    height: 60px;
    background-color: #0288d1;
    background: #ffa84c;
    /* Old browsers */
    background: -moz-linear-gradient(140deg, #7c4dff 0%, #03a9f4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(140deg, #7c4dff 0%, #03a9f4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(140deg, #7c4dff 0%, #03a9f4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
    /* IE6-9 */ }
    .modalcontent-colscheme .modaltitle h2 {
      color: white;
      text-align: center;
      padding-top: 20px;
      margin-left: 40px; }
    .modalcontent-colscheme .modaltitle span {
      color: white;
      float: right;
      margin-top: -50px;
      margin-right: -15px;
      font-size: 2em;
      cursor: pointer; }
  .modalcontent-colscheme .colschemebox-wrap {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px; }
  .modalcontent-colscheme .colschemebox-lg, .modalcontent-colscheme .colschemebox-sm {
    width: 140px;
    height: 80px;
    background-color: #03a9f4;
    display: inline-block; }
    .modalcontent-colscheme .colschemebox-lg h4, .modalcontent-colscheme .colschemebox-sm h4 {
      text-align: center;
      color: white;
      margin-top: 30px; }
  .modalcontent-colscheme .colschemebox-sm {
    width: 100px; }
  .modalcontent-colscheme .colschemebox-dark {
    background-color: #0288d1; }
  .modalcontent-colscheme .colschemebox-light {
    background-color: #4fc3f7; }
  .modalcontent-colscheme .colschemebox-accent {
    background-color: #7c4dff; }
  .modalcontent-colscheme .colschemeselect {
    text-align: center; }
    .modalcontent-colscheme .colschemeselect h3 {
      color: #015785; }
    .modalcontent-colscheme .colschemeselect button {
      background-color: #fff;
      color: #02679e;
      width: 100px;
      height: 30px;
      border: 1px solid #0288d1;
      border-radius: 20px;
      display: inline-block;
      padding: 1px;
      cursor: pointer;
      font-size: 0.65rem;
      font-weight: 800;
      letter-spacing: .1rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      box-sizing: inherit; }
    .modalcontent-colscheme .colschemeselect button:hover {
      color: #03a9f4;
      border-color: #03a9f4; }
  .modalcontent-colscheme .colrow {
    height: 100px; }
    .modalcontent-colscheme .colrow .colbox {
      width: 20%;
      height: 100%;
      float: left;
      background-color: black;
      cursor: pointer;
      position: relative; }
      @media only screen and (min-width: 900px) {
        .modalcontent-colscheme .colrow .colbox {
          width: 20%;
          border: 0; } }
      @media only screen and (max-width: 800px) {
        .modalcontent-colscheme .colrow .colbox {
          width: 20%;
          border: 0; } }
      .modalcontent-colscheme .colrow .colbox p {
        color: rgba(0, 0, 0, 0.5);
        margin-top: 5px;
        margin-left: 5px; }
      .modalcontent-colscheme .colrow .colbox .colhex {
        position: absolute;
        left: 0px;
        top: 20px;
        font-size: 0.8em; }
    .modalcontent-colscheme .colrow .colbox:hover {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6) inset; }
      .modalcontent-colscheme .colrow .colbox:hover p {
        color: rgba(0, 0, 0, 0.8); }
    .modalcontent-colscheme .colrow .colbox-red {
      background-color: #F44336; }
    .modalcontent-colscheme .colrow .colbox-pink {
      background-color: #E91E63; }
    .modalcontent-colscheme .colrow .colbox-purple {
      background-color: #9C27B0; }
    .modalcontent-colscheme .colrow .colbox-deeppurple {
      background-color: #673AB7; }
    .modalcontent-colscheme .colrow .colbox-indigo {
      background-color: #3F51B5; }
    .modalcontent-colscheme .colrow .colbox-blue {
      background-color: #2196F3; }
    .modalcontent-colscheme .colrow .colbox-lightblue {
      background-color: #03A9F4; }
    .modalcontent-colscheme .colrow .colbox-cyan {
      background-color: #00BCD4; }
    .modalcontent-colscheme .colrow .colbox-teal {
      background-color: #009688; }
    .modalcontent-colscheme .colrow .colbox-lightgreen {
      background-color: #8BC34A; }
    .modalcontent-colscheme .colrow .colbox-lime {
      background-color: #CDDC39; }
    .modalcontent-colscheme .colrow .colbox-yellow {
      background-color: #FFEB3B; }
    .modalcontent-colscheme .colrow .colbox-amber {
      background-color: #FFC107; }
    .modalcontent-colscheme .colrow .colbox-orange {
      background-color: #FF9800; }
    .modalcontent-colscheme .colrow .colbox-deeporange {
      background-color: #FF5722; }

#colscheme-selected p, #colscheme-selected2 p {
  color: white; }

.blogpreview {
  font-family: 'Lato', sans-serif; }
  .blogpreview .blogheader .headerwrap {
    width: 30%;
    float: left;
    text-align: center; }
    .blogpreview .blogheader .headerwrap h2 {
      color: #02679e;
      font-size: 2.5em;
      margin: 0;
      padding: 10px; }
    .blogpreview .blogheader .headerwrap h2:hover {
      color: #4fc3f7;
      cursor: pointer; }
  .blogpreview .blogheader h3 {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    padding-top: 8px;
    float: right;
    margin-right: 20px; }
  .blogpreview .blogheader h3:hover {
    color: black; }
  .blogpreview .blognav {
    background-color: #03a9f4;
    width: 100%; }
    .blogpreview .blognav .navwrap {
      margin-left: 5%;
      float: left; }
      .blogpreview .blognav .navwrap h3 {
        cursor: pointer;
        color: white;
        float: left;
        margin-left: 40px; }
      .blogpreview .blognav .navwrap h3:hover {
        color: black; }
    .blogpreview .blognav .navwrap-icons {
      float: right;
      padding-top: 18px;
      cursor: pointer;
      margin-right: 50px; }
      .blogpreview .blognav .navwrap-icons span {
        margin-right: 20px;
        font-size: 1.5em;
        color: white; }
      .blogpreview .blognav .navwrap-icons span:hover {
        color: black; }
  .blogpreview .blogbody {
    background-color: white;
    padding: 5% 5% 5% 5%; }
    .blogpreview .blogbody .leftcol {
      float: left;
      width: 20%; }
      .blogpreview .blogbody .leftcol h2 {
        text-align: center; }
      .blogpreview .blogbody .leftcol hr {
        width: 40%;
        margin-top: -10px;
        border: 1px solid #7c4dff; }
      .blogpreview .blogbody .leftcol .leftcol-story {
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 30%;
        width: 100%;
        overflow: hidden; }
        .blogpreview .blogbody .leftcol .leftcol-story img {
          width: 100%;
          border-radius: 10px; }
        .blogpreview .blogbody .leftcol .leftcol-story h3 {
          text-align: center;
          margin-top: 5px; }
        .blogpreview .blogbody .leftcol .leftcol-story h4 {
          margin-top: -10px;
          color: rgba(0, 0, 0, 0.5); }
      .blogpreview .blogbody .leftcol .leftcol-story:hover {
        color: #0288d1; }
    .blogpreview .blogbody .centrecol {
      width: 60%;
      padding-left: 5%;
      padding-right: 5%;
      float: left; }
      .blogpreview .blogbody .centrecol .mainstory {
        width: 100%; }
        .blogpreview .blogbody .centrecol .mainstory img {
          width: 100%;
          height: 400px;
          border-radius: 10px; }
        .blogpreview .blogbody .centrecol .mainstory h3 {
          color: rgba(0, 0, 0, 0.7); }
        .blogpreview .blogbody .centrecol .mainstory h4 {
          color: #7c4dff; }
        .blogpreview .blogbody .centrecol .mainstory hr {
          border: 1px solid #7c4dff; }
      .blogpreview .blogbody .centrecol .secondarystory {
        width: 50%;
        float: left; }
        .blogpreview .blogbody .centrecol .secondarystory img {
          width: 97%;
          border-radius: 10px; }
        .blogpreview .blogbody .centrecol .secondarystory h4 {
          color: #7c4dff; }
    .blogpreview .blogbody .mainstory:hover, .blogpreview .blogbody .secondarystory:hover {
      color: #0288d1;
      cursor: pointer; }
    .blogpreview .blogbody .rightcol {
      width: 10%;
      float: left; }
      .blogpreview .blogbody .rightcol h3 {
        text-align: center; }
      .blogpreview .blogbody .rightcol hr {
        width: 40%;
        margin-top: -10px;
        border: 1px solid #7c4dff; }
      .blogpreview .blogbody .rightcol .newsstory {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 30px; }
        .blogpreview .blogbody .rightcol .newsstory hr {
          margin-top: 10px;
          width: 100%; }
        .blogpreview .blogbody .rightcol .newsstory .categorytext {
          color: #7c4dff; }
        .blogpreview .blogbody .rightcol .newsstory h4 {
          margin: 0; }
        .blogpreview .blogbody .rightcol .newsstory h5 {
          margin: 0; }
      .blogpreview .blogbody .rightcol .newsstory:hover {
        cursor: pointer; }
        .blogpreview .blogbody .rightcol .newsstory:hover h4 {
          color: #03a9f4; }

.storepreview {
  font-family: 'Lato', sans-serif; }
  .storepreview .store-topnav {
    background-color: #03a9f4; }
    .storepreview .store-topnav .store-topnav-wrapper {
      text-align: center;
      margin-top: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.61); }
      .storepreview .store-topnav .store-topnav-wrapper h4 {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.7em;
        color: rgba(255, 255, 255, 0.61);
        display: inline;
        padding: 10px 30px 10px 30px;
        border-left: 1px solid rgba(255, 255, 255, 0.61); }
        .storepreview .store-topnav .store-topnav-wrapper h4:last-of-type {
          border-right: 1px solid rgba(255, 255, 255, 0.61); }
      .storepreview .store-topnav .store-topnav-wrapper h4:hover {
        color: black; }
  .storepreview .store-nav {
    border-bottom: 2px solid white;
    background-color: #03a9f4; }
    .storepreview .store-nav .store-nav-wrap {
      color: white;
      width: 33%;
      float: left; }
      .storepreview .store-nav .store-nav-wrap span {
        font-size: 2em;
        padding-top: 20px;
        float: left;
        margin-left: 20px;
        cursor: pointer; }
      .storepreview .store-nav .store-nav-wrap span:hover, .storepreview .store-nav .store-nav-wrap h1:hover {
        color: black; }
      .storepreview .store-nav .store-nav-wrap .icon-shopping-cart {
        float: right;
        margin-right: 20px; }
      .storepreview .store-nav .store-nav-wrap h1 {
        margin-top: 15px;
        text-align: center;
        cursor: pointer; }
  .storepreview .store-stylefeed {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .storepreview .store-stylefeed h2 {
      font-size: 3em; }
    .storepreview .store-stylefeed h3 {
      margin-top: -20px;
      margin-bottom: 30px; }
    .storepreview .store-stylefeed .store-stylefeed-grid {
      width: 33%;
      float: left;
      height: 280px; }
      .storepreview .store-stylefeed .store-stylefeed-grid img {
        width: 100%;
        height: 100%; }
      .storepreview .store-stylefeed .store-stylefeed-grid h3 {
        color: #4fc3f7;
        font-size: 1.4em;
        text-transform: uppercase;
        margin-top: -40px;
        text-shadow: -1px 0 grey,0 1px grey,1px 0 grey,0 -1px grey; }
    .storepreview .store-stylefeed .store-stylefeed-grid:hover {
      cursor: pointer; }
      .storepreview .store-stylefeed .store-stylefeed-grid:hover h3 {
        color: white;
        text-shadow: -1px 0 rgba(255, 255, 255, 0.64), 0 1px, 1px 0, 0 -1px rgba(255, 255, 255, 0.64); }
  .storepreview .store-body hr {
    margin-top: 50px; }
  .storepreview .store-body h2 {
    margin-top: 50px;
    text-align: center; }
  .storepreview .store-body .store-grid-wrapper {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .storepreview .store-body .store-grid-wrapper .store-grid {
      width: 30%;
      padding: 1.66666667%;
      float: left;
      height: 200px;
      margin-bottom: 100px; }
      .storepreview .store-body .store-grid-wrapper .store-grid img {
        border: 1px solid rgba(167, 167, 167, 0.7);
        width: 100%;
        height: 100%; }
      .storepreview .store-body .store-grid-wrapper .store-grid h3 {
        font-size: 1em;
        text-transform: uppercase; }
    .storepreview .store-body .store-grid-wrapper .store-grid:hover {
      cursor: pointer; }
      .storepreview .store-body .store-grid-wrapper .store-grid:hover img {
        border: 1px solid #7c4dff; }
      .storepreview .store-body .store-grid-wrapper .store-grid:hover h3 {
        color: #7c4dff; }
  .storepreview .store-footer {
    border-top: 2px solid #7c4dff;
    background-color: #03a9f4;
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center; }
    .storepreview .store-footer .store-socialmedia {
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 20px; }
      .storepreview .store-footer .store-socialmedia h4, .storepreview .store-footer .store-socialmedia span {
        color: rgba(0, 0, 0, 0.77);
        margin-left: 10px;
        display: inline; }
      .storepreview .store-footer .store-socialmedia h4 {
        font-size: 1.1em; }
      .storepreview .store-footer .store-socialmedia span {
        font-size: 1.2em; }
      .storepreview .store-footer .store-socialmedia span:hover {
        color: #7c4dff;
        cursor: pointer; }
    .storepreview .store-footer hr {
      margin-top: 50px; }
    .storepreview .store-footer h3 {
      color: rgba(0, 0, 0, 0.77);
      margin-left: 40px;
      display: inline; }
      .storepreview .store-footer h3:first-of-type {
        margin-left: 0; }
    .storepreview .store-footer h3:hover {
      color: #7c4dff;
      cursor: pointer; }

/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-rotate
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-rotate {
  display: inline-block;
  transform-origin: center center;
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 10; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-rotate:hover,
.shake-trigger:hover .shake-rotate {
  animation-play-state: running; }

@keyframes shake-rotate {
  2% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }

  4% {
    transform: translate(0.5px, 1px) rotate(1.5deg); }

  6% {
    transform: translate(-0.5px, 1px) rotate(0.5deg); }

  8% {
    transform: translate(1px, 1px) rotate(-0.5deg); }

  10% {
    transform: translate(-1px, 0.5px) rotate(1.5deg); }

  12% {
    transform: translate(1px, -1px) rotate(-0.5deg); }

  14% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }

  16% {
    transform: translate(1px, 1px) rotate(-0.5deg); }

  18% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }

  20% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }

  22% {
    transform: translate(-1px, -1px) rotate(-0.5deg); }

  24% {
    transform: translate(1px, -0.5px) rotate(1.5deg); }

  26% {
    transform: translate(1px, 1px) rotate(0.5deg); }

  28% {
    transform: translate(1px, 1px) rotate(0.5deg); }

  30% {
    transform: translate(1px, 0.5px) rotate(1.5deg); }

  32% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }

  34% {
    transform: translate(-1px, -0.5px) rotate(-0.5deg); }

  36% {
    transform: translate(-1px, 1px) rotate(0.5deg); }

  38% {
    transform: translate(1px, 1px) rotate(0.5deg); }

  40% {
    transform: translate(1px, 0.5px) rotate(0.5deg); }

  42% {
    transform: translate(1px, 1px) rotate(-0.5deg); }

  44% {
    transform: translate(0.5px, -1px) rotate(1.5deg); }

  46% {
    transform: translate(1px, 0.5px) rotate(1.5deg); }

  48% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }

  50% {
    transform: translate(1px, 1px) rotate(1.5deg); }

  52% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }

  54% {
    transform: translate(-0.5px, -1px) rotate(-0.5deg); }

  56% {
    transform: translate(0.5px, 1px) rotate(0.5deg); }

  58% {
    transform: translate(1px, 0.5px) rotate(0.5deg); }

  60% {
    transform: translate(-1px, 0.5px) rotate(0.5deg); }

  62% {
    transform: translate(0.5px, 1px) rotate(0.5deg); }

  64% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }

  66% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }

  68% {
    transform: translate(-1px, 0.5px) rotate(1.5deg); }

  70% {
    transform: translate(-0.5px, 1px) rotate(1.5deg); }

  72% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }

  74% {
    transform: translate(-1px, 0.5px) rotate(0.5deg); }

  76% {
    transform: translate(-1px, 0.5px) rotate(0.5deg); }

  78% {
    transform: translate(-0.5px, 1px) rotate(1.5deg); }

  80% {
    transform: translate(-1px, 1px) rotate(-0.5deg); }

  82% {
    transform: translate(1px, 1px) rotate(-0.5deg); }

  84% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }

  86% {
    transform: translate(0.5px, -1px) rotate(-0.5deg); }

  88% {
    transform: translate(1px, 1px) rotate(0.5deg); }

  90% {
    transform: translate(1px, 0.5px) rotate(-0.5deg); }

  92% {
    transform: translate(1px, -0.5px) rotate(-0.5deg); }

  94% {
    transform: translate(-1px, 1px) rotate(0.5deg); }

  96% {
    transform: translate(-1px, 0.5px) rotate(0.5deg); }

  98% {
    transform: translate(-1px, 0.5px) rotate(1.5deg); }

  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
